@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;800&display=swap");
body {
  margin: 0%;
  background-color: #164a41;
}
.topnav {
font-family: sans-serif;
  overflow: hidden;
  background-color: #164a4177;
  width: 100%;
  height: 4em;
  position: fixed;
  backdrop-filter: blur(6px);
}
#back {
  background-image: url("images/back1.jpg");
  background-size: cover;
  background-position: 25% 25%;
  height: 110%;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  height: 100%;
  padding: 1.5em 0.5em;
  text-decoration: none;
  width: 14%;
}

#logo {
float: left;
height: 100%;
}

#logo img {
padding: 0;
margin: 0;
display: block;
  height: 100%;
}

#logo p {
padding: 0;
margin: 0;
color: white;
}
#lgname {
padding-top: 0.2em;
}
#lgmotto {
padding-bottom: 0.2em;
font-size: 0.7em;
}

.topnav a:hover {
  color: white;
  background-color: #4d774e77;
}
h5 {
  color: white;
  text-align: center;
  padding-top: 50px;
}
#p1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding-left: 100px;
  padding-top: 4em;
  font-size: 60px;
}
#p2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  padding-left: 250px;
  padding-top: 0px;
}
#p3 {
  color: white;
  padding-left: 450px;
  line-height: normal;
}
.section-title {
  text-align: center;
  color: white;
  font-size: 3.5em;
}
.section-subtitle {
  color: #dfdbdb;
  text-align: center;
  font-size: 1.5em;
}
.welcome-box h1 {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  font-variant: small-caps;
}
.welcome-box {
  font-size: 1.5em;
  color: white;
  font-family: "Overpass", sans-serif;
}
/*TODO*/.welcome-box .section-header {
  padding: 1em 5em;
  margin: 0;
}
.welcome-box .section-flex {
  margin: 2em;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap: 8vw;
}
.welcome-box .section-flex .welc-flex-item {
  flex-basis: 10em;
  flex-grow: 1;
  background-color: #164a41;
  width: 100%;
  height: 100%;
  border: 5px solid #4d774e77;
  border-radius: 100px;
  padding: 35px;
  margin: 15px; 
    border-radius: 5px;
    box-shadow: 0 1px 2px #133e37;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.welcome-box .section-flex .welc-flex-item img {
  /* margin: 0 1.5em; */
  display: block;
  width: 100%;
  border-radius: 20%;
}
.welcome-box .section-flex .welc-flex-item p {
  text-align: justify;
}
.welcome-box .section-flex .welc-flex-item h4 {
  text-align: center;
}
.welc-flex-item::after {
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
  }
.welc-flex-item:hover {
    transform: scale(1.1, 1.1);
  }
.p-about{
  color:#dfdbdb;
}  
  